/* casedev styling */

* {
   color: #7c7c7c;
}

body {
   padding-top: 80px;
}

hr {
   margin: 30px 10%;
   border-top: 2px solid #1f9cbc;
}


/* Navbar */
.navbar-fixed-top {
   padding-left: 40px;
   padding-right: 40px;
}

.navbar-fixed-top a:hover {
   background-color: transparent;
   color: #1f9cbc;
   text-decoration: none;
   cursor: pointer;
}

.nav-logo {
   height: 26px;
   width: auto;
   display: block;
   margin: auto;
}

.navbar-default {
   background-color: rgba(255, 255, 255, 0.85);
   border: 0;
   display: flex;
}

.nav-container .navbar-header {
   margin: auto;
}

.nav-container {
   display: flex;
}

.nav-menu {
   position: fixed;
   top: 20px;
   left: 30px;
}

.nav-menu:hover {
   cursor: pointer;
}

.menu-icon {
   height: 20px;
   width: auto;
}

.menu-item {
   display: flex;
   position: fixed;
   background-color: #a8a8a8;
   border-radius: 8px;
   width: 80%;
   top: 60px;
   left: -100%;
   height: 60px;
   box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
   -webkit-transition: .5s;
   -moz-transition: .5s;
   -o-transition: .5s;
   transition: .5s;
}

.nav-github {
   top: 130px;
   transition-delay: .1s;
}

.nav-linkedin {
   top: 200px;
   transition-delay: .2s;
}

.nav-contact {
   top: 270px;
   transition-delay: .3s;
}

.menu-open {
   left: 10%;
}

.nav-menu {
   margin: auto;
   height: 20px;
   width: 18px;
}

.nav-menu .top,
.nav-menu .middle,
.nav-menu .bottom {
   display: block;
   position: absolute;
   height: 4px;
   width: 100%;
   background-color: #1f9cbc;
   border-radius: 12px;
   opacity: 1;
   left: 0;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   -webkit-transition: .3s;
   -moz-transition: .3s;
   -o-transition: .3s;
   transition: .3s;
}

.nav-menu .middle {
   top: 6px;
   width: 75%;
}

.nav-menu .bottom {
   top: 12px;
   width: 75%;
   left: 4px
}

.nav-menu .top-open {
   -webkit-transform: rotate(135deg);
   -moz-transform: rotate(135deg);
   -o-transform: rotate(135deg);
   transform: rotate(135deg);
   top: 6px;
}

.nav-menu .middle-open {
   width: 0;
}

.nav-menu .bottom-open {
   width: 100%;
   left: 0;
   top: 6px;
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   transform: rotate(45deg);
}

.overlay {
   visibility: hidden;
   background: rgba(255, 255, 255, 0.0);
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 3;
   transition: 1s;
}

.overlay-open {
   visibility: visible;
   background: rgba(255, 255, 255, 0.85);
}

.menu-link {
   margin: auto;
   color: #fff;
}

.menu-link .fa {
   color: #fff;
}


/* Header */

.home-bg {
   background-image: url("../img/bg-pattern2.png");
   min-height: 700px;
}

.main-logo {
   display: flex;
   margin: 10px auto 80px;
}

.logo {
   display: block;
   max-height: 100px;
   width: auto;
   max-width: 100%;
   float: left;
   margin: auto;
}

.title {
   margin: 12% auto;
}

.title .title-name {
   font-size: 48px;
   text-align: center;
}

.title-hr {
   color:
}

.title .title-subtitle {
   font-weight: lighter;
   text-align: center;
}


/* Main Image */
.main-img{
   display: block;
   margin: 0 auto;
   width: 80%;
   height: auto;
   border-radius: 8px;
   box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.5);
}

@media (max-width: 500px) {
   .main-img {
      width: 100%;
   }
}


/* Main Content */
.features .feature-block {
   padding: 0;
   margin: 20px;
   min-width: calc(33% - 40px);
   border-radius: 8px;
   box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.5);
   background-color: #fff;
   color: #000;
   transition: all 0.3s ease;
}

.features .feature-block:hover {
   box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.25);
   cursor: pointer;
}

.feature-img {
   padding: 0;
   margin: 0;
   background-position: top left;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 100px;
   border-top-right-radius: 8px;
   border-top-left-radius: 8px;
}

.feature-info {
   padding: 10px 20px;
}

.feature-info h4 {
   color: #444;
}

.topten-img {
   background-image: url("../img/topten.png");
}

.leapfrog-img {
   background-image: url("../img/leapfrog.png");
}

.lifehacks-img {
   background-image: url("../img/lifehacks.png");
}

.tournament-img {
   background-image: url("../img/tournament.png");
}

.blog-img {
   background-image: url("../img/blog.png");
}

.outdoor-img {
   background-image: url("../img/outdoor.png");
}


/* Footer */

.footer {
   background-color: #c1c1c1;
   color: #fff;
   padding: 40px 20px;
   margin-top: 40px;
}

.footer-header {
   text-transform: uppercase;
   margin-top: 20px;
   color: #fff;
}

.footer .fa {
   color: #fff;
}

.footer-company,
.footer-support,
.footer-team,
.footer-social {
   padding: 0;
   color: #fff;
}

.footer-item {
   list-style-type: none;
   padding: 10px 0 0 0;
}

.footer-hr {
   border-top: 1px solid #1f9cbc;
}

.footer-link {
   color: #fff;
}

.footer .fa:hover,
.footer-link:hover {
   color: #1f9cbc;
   cursor: pointer;
   text-decoration: none;
}

.footer-copyright {
   font-size: 11px;
}

.copyright-link {
   color: #1f9cbc;
}

.copyright-link:hover {
   color: #fff;
   cursor: pointer;
}

.footer-img {
   width: 100%;
   margin-bottom: 10px;
}

.footer-logo {
   display: block;
   margin: auto;
   width: 30px;
   height: auto;
}

.footer-text {
   color: #fff;
}

.footer-disclaimer {
   font-size: 9px;
   color: #fff;
}
